*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #fff;
  color: #333;
  min-width: 320px;
}
@media (min-width: 1024px) {
  body {
    font-size: 16px;
  }
}

a {
  background-color: transparent;
  color: #337ab7;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.1;
  color: inherit;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1 {
  font-size: 24px;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 36px;
  }
}
h2 {
  font-size: 18px;
}
@media (min-width: 1024px) {
  h2 {
    font-size: 24px;
  }
}
h3 {
  font-size: 16px;
}
@media (min-width: 1024px) {
  h3 {
    font-size: 20px;
  }
}
h4,
h5,
h6 {
  font-size: 16px;
}
@media (min-width: 1024px) {
  h4,
  h5,
  h6 {
    font-size: 18px;
  }
}
p {
  margin: 0 0 0.8em;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}

img {
  max-width: 100%;
  height: auto;
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777;
}





/*------------------------------------------------------------------------------
//  Форматированный вывод
//----------------------------------------------------------------------------*/

pre,
code,
kbd,
pre,
samp {
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  font-size: 1em;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #ffffff;
  background-color: #333333;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
kbd kbd {
  padding: 0;
  font-size: 100%;
  box-shadow: none;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
  overflow: auto;
  max-height: 340px;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}





/*------------------------------------------------------------------------------
//  Формы
//----------------------------------------------------------------------------*/

form {
  margin: 0;
  padding: 0;
}
label {
  display: inline-block;
  max-width: 100%;
  margin: 0;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="radio"],
input[type="checkbox"] {
  line-height: normal;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
textarea {
  resize: vertical;
}

.form-field {
  display: block;
  margin-bottom: 0.8em;
}
.form-field__label {
  display: block;
}
.form-field__text-input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
textarea.form-field__text-input {
  height: auto;
}
.form-field__text-input:focus {
  border-color: #66afe9;
  outline: 0;
}
.form-field__text-input::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-field__text-input:-ms-input-placeholder {
  color: #999999;
}
.form-field__text-input::-webkit-input-placeholder {
  color: #999999;
}
.form-field__text-input::-ms-expand {
  border: 0;
  background-color: transparent;
}
.form-field__name {
  display: block;
  margin-bottom: 0.35em;
}





/*------------------------------------------------------------------------------
//  Кнопки
//----------------------------------------------------------------------------*/

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 2px 12px;
  font-size: inherit;
  line-height: 1.42857143;
  border-radius: 4px;
  user-select: none;
  color: #fff;
}
.btn:focus,
.btn:active {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}
.btn:active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn:focus {
  color: #ffffff;
  background-color: #286090;
  border-color: #122b40;
}
.btn:hover {
  color: #ffffff;
  background-color: #286090;
  border-color: #204d74;
}
.btn:active {
  color: #ffffff;
  background-color: #286090;
  border-color: #204d74;
}
.btn:active:hover {
  color: #ffffff;
  background-color: #204d74;
  border-color: #122b40;
}





/*------------------------------------------------------------------------------
//  Сетка
//----------------------------------------------------------------------------*/

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*
@media (min-width: 600px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 970px;
  }
}
*/
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-xs-12,
.col-sm-12,
.col-md-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
@media (min-width: 600px) {
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1024px) {
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}






/*------------------------------------------------------------------------------
//  Панели
//----------------------------------------------------------------------------*/

.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-color: #dddddd;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel__body {
  padding: 15px 15px 5px;
}
.panel__header {
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  color: #333333;
  margin: 0;
  background-color: #f5f5f5;
  border-color: #dddddd;
}
@media (min-width: 600px) {
  .panel__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.panel__title {
  margin: 0;
  padding: 12px 15px 0;
  color: inherit;
  flex-grow: 1;
  display: flex;
  align-items: baseline;
}
@media (min-width: 600px) {
  .panel__title {
    padding-bottom: 12px;
  }
}
.panel__title-btn-wrap {
  display: block;
  text-align: right;
  padding: 10px;
}
.panel__title-text {
  display: block;
  margin: 0 0 0 15px;
  line-height: inherit;
}
.panel__checkbox {
  flex-shrink: 0;
}
.panel__label {
  position: relative;
  padding-left: 30px;
}
.panel--collapse .panel__header {
  border-bottom: 0;
}
.panel--collapse .panel__body {
  display: none;
}





/*------------------------------------------------------------------------------
//  Алерты
//----------------------------------------------------------------------------*/

.alert {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h3,
.alert h4
 {
  margin-top: 0;
  color: inherit;
}
.alert a {
  text-decoration: underline;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert--success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.alert--success a {
  color: #2b542c;
}
.alert--danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.alert--danger a {
  color: #843534;
}





/*------------------------------------------------------------------------------
//  Отдельные блоки
//----------------------------------------------------------------------------*/

.about .panel__header {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
  z-index: -1;
}

.check-section {}
.check-section__btn:before {
  content: attr(data-text);
}

.js .no-js-warning {
  display: none;
}

.no-js .main-content {
  display: none;
}

.pseudoform {}




/*------------------------------------------------------------------------------
//  Прогресс
//----------------------------------------------------------------------------*/

.progress__container {
  position: relative;
  overflow: hidden;
  height: 30px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='10' preserveAspectRatio='none'><path fill='#eee' d='M0 0h1v10H0zm2 5h1v5H2zm2 0h1v5H4zm2 0h1v5H6zm2 0h1v5H8zm2-5h1v10h-1zm2 5h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2-5h1v10h-1zm2 5h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2-5h1v10h-1zm2 5h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2-5h1v10h-1zm2 5h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2-5h1v10h-1zm2 5h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2-5h1v10h-1zm2 5h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2-5h1v10h-1zm2 5h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2-5h1v10h-1zm2 5h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2-5h1v10h-1zm2 5h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1z'/></svg>");
  background-repeat: n0-repeat;
  background-position: 0 100%;
  background-size: 100% 100%;
}
.progress__container:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0 0.4em;
  content: attr(data-text) ' ' attr(data-percent);
  font-size: inherit;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.progress__bar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 0%;
  height: 100%;
  background-color: #337ab7;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  transition: width 0.6s ease;
  opacity: 0.3;
}
.progress__bar--mandatory {
  background-color: #08dc08;
}
.progress__bar--optional {
  background-color: #818aff;
}
