/* TODO: прогнать через оптимизатор */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #fff;
  color: #333;
  min-width: 320px;
  padding-top: 35px;
}
@media (min-width: 1024px) {
  body {
    font-size: 16px;
  }
}

a {
  background-color: transparent;
  color: #337ab7;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.1;
  color: inherit;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1 {
  font-size: 24px;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 36px;
  }
}
h2 {
  font-size: 18px;
}
@media (min-width: 1024px) {
  h2 {
    font-size: 24px;
  }
}
h3 {
  font-size: 16px;
}
@media (min-width: 1024px) {
  h3 {
    font-size: 20px;
  }
}
h4,
h5,
h6 {
  font-size: 16px;
}
@media (min-width: 1024px) {
  h4,
  h5,
  h6 {
    font-size: 18px;
  }
}
p {
  margin: 0 0 0.8em;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}

img {
  max-width: 100%;
  height: auto;
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777;
}





/*------------------------------------------------------------------------------
//  Форматированный вывод
//----------------------------------------------------------------------------*/

pre,
code,
kbd,
pre,
samp {
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  font-size: 1em;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333333;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
kbd kbd {
  padding: 0;
  font-size: 100%;
  box-shadow: none;
}
pre {
  display: block;
  padding: 5px 5px 3px 10px;
  margin: 0 0 0.8em;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
  overflow: auto;
  max-height: 340px;
  counter-reset: code;
  white-space: normal;
}
pre code {
  display: block;
  position: relative;
  padding: 0 0 0 2em;
  border-radius: 0;
  background: 0 0;
  line-height: 1.7;
  white-space: pre;
  tab-size: 2;
}
pre code:not(:only-child)::before {
  position: absolute;
  margin-left: -2em;
  color: inherit;
  counter-increment: code;
  content: counter(code,decimal-leading-zero) ".";
  opacity: 0.5;
}





/*------------------------------------------------------------------------------
//  Формы
//----------------------------------------------------------------------------*/

form {
  margin: 0;
  padding: 0;
}
label {
  display: inline-block;
  max-width: 100%;
  margin: 0;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="radio"],
input[type="checkbox"] {
  line-height: normal;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
textarea {
  resize: vertical;
}

.form-field {
  display: block;
  margin-bottom: 0.8em;
}
.form-field__label {
  display: block;
}
.form-field__text-input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
textarea.form-field__text-input {
  height: auto;
}
.form-field__text-input:focus {
  border-color: #66afe9;
  outline: 0;
}
.form-field__text-input::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-field__text-input:-ms-input-placeholder {
  color: #999999;
}
.form-field__text-input::-webkit-input-placeholder {
  color: #999999;
}
.form-field__text-input::-ms-expand {
  border: 0;
  background-color: transparent;
}
.form-field__name {
  display: block;
  margin-bottom: 0.35em;
}





/*------------------------------------------------------------------------------
//  Кнопки
//----------------------------------------------------------------------------*/

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 2px 12px;
  font-size: inherit;
  line-height: 1.42857143;
  border-radius: 4px;
  user-select: none;
  color: #fff;
}
.btn:focus,
.btn:active {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}
.btn:active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn:focus {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn:hover {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn:active  {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn--accent {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn--accent:focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.btn--accent:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn--accent:active {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}





/*------------------------------------------------------------------------------
//  Сетка
//----------------------------------------------------------------------------*/

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*
@media (min-width: 600px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 970px;
  }
}
*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}
.col-sm-1,
.col-md-1,
.col-sm-2,
.col-md-2,
.col-sm-3,
.col-md-3,
.col-sm-4,
.col-md-4,
.col-sm-5,
.col-md-5,
.col-sm-6,
.col-md-6,
.col-sm-7,
.col-md-7,
.col-sm-8,
.col-md-8,
.col-sm-9,
.col-md-9,
.col-sm-10,
.col-md-10,
.col-sm-11,
.col-md-11,
.col-sm-12,
.col-md-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
@media (min-width: 600px) {
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1024px) {
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}






/*------------------------------------------------------------------------------
//  Панели
//----------------------------------------------------------------------------*/

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel__body {
  padding: 15px 15px 0;
}
.panel__header {
  border-bottom: 1px solid #ddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  color: #333333;
  margin: 0;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.panel__title {
  margin: 0;
  padding: 15px 15px 0;
  color: inherit;
  flex-grow: 1;
  display: flex;
  align-items: baseline;
}
@media (min-width: 600px) {
  .panel__title {
    padding-bottom: 12px;
  }
}
.panel__title-btn-wrap {
  display: block;
  text-align: right;
  padding: 10px;
}
.panel__title-text {
  display: block;
  margin: 0 0 0 15px;
  line-height: inherit;
}
.panel__checkbox {
  flex-shrink: 0;
}
.panel__label {
  position: relative;
  padding-left: 30px;
}
.panel--collapse .panel__header {
  border-bottom: 0;
}
.panel--collapse .panel__body {
  display: none;
}
.panel--error {
  border-color: #d9534f;
}
.panel--error .panel__header {
  border-bottom-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}
.panel--success {
  border-color: #99D499;
}
.panel--success .panel__header {
  border-bottom-color: #99D499;
  color: #333333;
  background-color: #AEEEAE;
}





/*------------------------------------------------------------------------------
//  Алерты
//----------------------------------------------------------------------------*/

.alert {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert a {
  text-decoration: underline;
}
.alert a:hover {
  text-decoration: none;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert--danger {
  background-color: #d9534f;
  border-color: #d9534f;
  color: #fff;
}
.alert--danger a {
  color: #fff;
}





/*------------------------------------------------------------------------------
//  Лейблы
//----------------------------------------------------------------------------*/

.label {
  display: inline;
  padding: .05em .4em .07em;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #f0ad4e;
}
.label:empty {
  display: none;
}
.label--success {
  background-color: #5cb85c;
}
.label--danger {
  background-color: #d9534f;
}
.label--font-size-content {
  font-size: 14px;
}
@media (min-width: 1024px) {
  .label--font-size-content {
    font-size: 16px;
  }
}




/*------------------------------------------------------------------------------
//  Прогресс
//----------------------------------------------------------------------------*/

.progress__container {
  position: relative;
  overflow: hidden;
  height: 30px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='10' preserveAspectRatio='none'><path fill='#eee' d='M0 0h1v10H0zm2 5h1v5H2zm2 0h1v5H4zm2 0h1v5H6zm2 0h1v5H8zm2-5h1v10h-1zm2 5h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2-5h1v10h-1zm2 5h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2-5h1v10h-1zm2 5h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2-5h1v10h-1zm2 5h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2-5h1v10h-1zm2 5h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2-5h1v10h-1zm2 5h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2-5h1v10h-1zm2 5h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2-5h1v10h-1zm2 5h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2-5h1v10h-1zm2 5h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1zm2 0h1v5h-1z'/></svg>");
  background-repeat: n0-repeat;
  background-position: 0 100%;
  background-size: 100% 100%;
}
.progress__container:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0 0.4em;
  content: attr(data-text) ' ' attr(data-percent);
  font-size: inherit;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.progress__bar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 0%;
  height: 100%;
  background-color: #337ab7;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  transition: width 0.6s ease;
  opacity: 0.3;
}
.progress__bar--mandatory {
  background-color: #08dc08;
}
.progress__bar--optional {
  background-color: #818aff;
}





/*------------------------------------------------------------------------------
//  Отдельные блоки
//----------------------------------------------------------------------------*/

.about .panel__header {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
  z-index: -1;
}

.check-section__header {
  padding: 0 15px;
  margin: 1.6em 0 1em;
}

@media (max-width: 599px) {
  .check-section__btn {
    position: relative;
    display: flex;
    /*justify-content: space-around;*/
    font: 0/0 a;
    color: transparent;
    height: 30px;
    width: 30px;
    padding: 0;
  }
  .check-section__btn:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 10px;
    border-top: solid 1px #333;
    border-right: solid 1px #333;
    transform: translate(-50%, -20%) rotate(-45deg);
    transition: transform 0.3s;
  }
  .panel--collapse .check-section__btn:before {
    transform: translate(-50%, -70%) rotate(135deg);
  }
}

.loading-page {
  display: block !important;
  text-align: center;
}
.loading-page:after {
  display: block;
  padding: 5px 0 20px;
  content: attr(data-text);
}

.js .no-js-msg {
  display: none;
}

.main-content {
  display: none;
}

.no-js .loading-page,
.dom-content-loaded .loading-page {
  display: none !important;
}

/* Главный контент виден только если работает JS и сработало событие DOMContentLoaded */
.js.dom-content-loaded .main-content {
  display: block !important;
}

.form-review-link {
  display: none;
}
.has-get .form-review-link {
  display: block;
}

.main-nav {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.main-nav__inner {
  display: flex;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
}
.main-nav__list {
  margin: 0 0 0 -5px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.main-nav__list a {
  display: block;
  padding: 5px;
  margin-right: 0.3em;
}
.main-nav__send-btn {
  margin-left: auto;
}
